.App {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .list li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .list li button {
    float: right;
    color: red;
  }
  